{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{{ 'Les vrais inconnus : le concours' }}{% endblock %}
{% block description %}{{ 'page.description.search'|trans({'%q%': app.request.get('q')}) }}{% endblock %}
{% block meta %}<meta name="robots" content="noindex,follow" />{% endblock %}
{% block pagescripts %}
{% javascripts
  '@SkreenHouseFactorylesVraisInconnusBundle/Resources/public/js/jquery.form.min.js'
  '@SkreenHouseFactorylesVraisInconnusBundle/Resources/public/js/lesvraisinconnus.js'
    
    filter='?yui_js' 
    output='js/compiled/pages/lesvraisinconnus.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block content %}
<div class="container" style="width: 500px">
  <a class="btn btn-info popin_vrais_inconnus">
    Envoyer une parodie
  </a>
</div>
{% endblock %}
